# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user
/Boundaries/Boundary_Dataset_Guidance_2011_Onwards.pdf
/Boundaries/CMWD_2011_EW_BFE.dbf
/Boundaries/CMWD_2011_EW_BFE.prj
/Boundaries/CMWD_2011_EW_BFE.sbn
/Boundaries/CMWD_2011_EW_BFE.sbx
/Boundaries/CMWD_2011_EW_BFE.shp
/Boundaries/CMWD_2011_EW_BFE.shp.xml
/Boundaries/CMWD_2011_EW_BFE.shx
/Boundaries/CMWD_2011_EW_BFE_metadata.xml
/Boundaries/LondonWards.dbf
/Boundaries/LondonWards.prj
/Boundaries/LondonWards.shp
/Boundaries/LondonWards.shp.xml
/Boundaries/LondonWards.shx
/Boundaries/LondonWardsNew.dbf
/Boundaries/LondonWardsNew.prj
/Boundaries/LondonWardsNew.sbn
/Boundaries/LondonWardsNew.sbx
/Boundaries/LondonWardsNew.shp
/Boundaries/LondonWardsNew.shp.xml
/Boundaries/LondonWardsNew.shx
/Boundaries/Product Specification for CMWD_2011_EW_BFE.docx
/Data/BluePlaques.cpg
/Data/BluePlaques.dbf
/Data/BluePlaques.prj
/Data/BluePlaques.sbn
/Data/BluePlaques.sbx
/Data/BluePlaques.shp
/Data/BluePlaques.shp.xml
/Data/BluePlaques.shx
/Data/IdealSystem/ideal1.swm
/Data/IdealSystem/idealdistdecay1.swm
/Data/IdealSystem/IdealSystem.gdb/a00000001.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000001.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000001.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000001.TablesByName.atx
/Data/IdealSystem/IdealSystem.gdb/a00000002.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000002.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000003.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000003.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000003.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000004.CatItemsByPhysicalName.atx
/Data/IdealSystem/IdealSystem.gdb/a00000004.CatItemsByType.atx
/Data/IdealSystem/IdealSystem.gdb/a00000004.FDO_UUID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000004.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000004.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000004.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000004.spx
/Data/IdealSystem/IdealSystem.gdb/a00000005.CatItemTypesByName.atx
/Data/IdealSystem/IdealSystem.gdb/a00000005.CatItemTypesByParentTypeID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000005.CatItemTypesByUUID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000005.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000005.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000005.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000006.CatRelsByDestinationID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000006.CatRelsByOriginID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000006.CatRelsByType.atx
/Data/IdealSystem/IdealSystem.gdb/a00000006.FDO_UUID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000006.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000006.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000006.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000007.CatRelTypesByBackwardLabel.atx
/Data/IdealSystem/IdealSystem.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000007.CatRelTypesByForwardLabel.atx
/Data/IdealSystem/IdealSystem.gdb/a00000007.CatRelTypesByName.atx
/Data/IdealSystem/IdealSystem.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000007.CatRelTypesByUUID.atx
/Data/IdealSystem/IdealSystem.gdb/a00000007.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000007.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000007.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000009.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a00000009.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a00000009.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a00000009.spx
/Data/IdealSystem/IdealSystem.gdb/a0000000a.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a0000000a.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a0000000a.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/a0000000b.gdbindexes
/Data/IdealSystem/IdealSystem.gdb/a0000000b.gdbtable
/Data/IdealSystem/IdealSystem.gdb/a0000000b.gdbtablx
/Data/IdealSystem/IdealSystem.gdb/gdb
/Data/IdealSystem/IdealSystem.gdb/timestamps

\.DS_Store

Boundaries/Local_Authority_Districts_December_2011_GB_BGC\.cpg

Boundaries/Local_Authority_Districts_December_2011_GB_BGC\.dbf

Boundaries/Local_Authority_Districts_December_2011_GB_BGC\.prj

Boundaries/Local_Authority_Districts_December_2011_GB_BGC\.shp

Boundaries/Local_Authority_Districts_December_2011_GB_BGC\.shx

Boundaries/Local_Authority_Districts_December_2011_GB_BGC\.xml

Data/LondonWards\.dbf

Data/LondonWards\.prj

Data/LondonWards\.shp

Data/LondonWards\.shp\.xml

Data/LondonWards\.shx

IdealSystem/ideal1\.swm

IdealSystem/idealdistdecay1\.swm

IdealSystem/IdealSystem\.gdb/a00000001\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000001\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000001\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000001\.TablesByName\.atx

IdealSystem/IdealSystem\.gdb/a00000002\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000002\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000003\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000003\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000003\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000004\.CatItemsByPhysicalName\.atx

IdealSystem/IdealSystem\.gdb/a00000004\.CatItemsByType\.atx

IdealSystem/IdealSystem\.gdb/a00000004\.FDO_UUID\.atx

IdealSystem/IdealSystem\.gdb/a00000004\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000004\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000004\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000004\.spx

IdealSystem/IdealSystem\.gdb/a00000005\.CatItemTypesByName\.atx

IdealSystem/IdealSystem\.gdb/a00000005\.CatItemTypesByParentTypeID\.atx

IdealSystem/IdealSystem\.gdb/a00000005\.CatItemTypesByUUID\.atx

IdealSystem/IdealSystem\.gdb/a00000005\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000005\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000005\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000006\.CatRelsByDestinationID\.atx

IdealSystem/IdealSystem\.gdb/a00000006\.CatRelsByOriginID\.atx

IdealSystem/IdealSystem\.gdb/a00000006\.CatRelsByType\.atx

IdealSystem/IdealSystem\.gdb/a00000006\.FDO_UUID\.atx

IdealSystem/IdealSystem\.gdb/a00000006\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000006\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000006\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000007\.CatRelTypesByBackwardLabel\.atx

IdealSystem/IdealSystem\.gdb/a00000007\.CatRelTypesByDestItemTypeID\.atx

IdealSystem/IdealSystem\.gdb/a00000007\.CatRelTypesByForwardLabel\.atx

IdealSystem/IdealSystem\.gdb/a00000007\.CatRelTypesByName\.atx

IdealSystem/IdealSystem\.gdb/a00000007\.CatRelTypesByOriginItemTypeID\.atx

IdealSystem/IdealSystem\.gdb/a00000007\.CatRelTypesByUUID\.atx

IdealSystem/IdealSystem\.gdb/a00000007\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000007\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000007\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000009\.gdbindexes

IdealSystem/IdealSystem\.gdb/a00000009\.gdbtable

IdealSystem/IdealSystem\.gdb/a00000009\.gdbtablx

IdealSystem/IdealSystem\.gdb/a00000009\.spx

IdealSystem/IdealSystem\.gdb/a0000000a\.gdbindexes

IdealSystem/IdealSystem\.gdb/a0000000a\.gdbtable

IdealSystem/IdealSystem\.gdb/a0000000a\.gdbtablx

IdealSystem/IdealSystem\.gdb/a0000000b\.gdbindexes

IdealSystem/IdealSystem\.gdb/a0000000b\.gdbtable

IdealSystem/IdealSystem\.gdb/a0000000b\.gdbtablx

IdealSystem/IdealSystem\.gdb/gdb

IdealSystem/IdealSystem\.gdb/timestamps
